# Xcode
build/
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdata/
*.xccheckout
*.xcodeproj/project.xcworkspace/xcuserdata/

# SwiftPM
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Firebase
GoogleService-Info.plist

# Other
*.DS_Store
*.log

# Xcode playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Package.resolved

# IDE workspace data
*.xcscmblueprint

# Personal Xcode settings
xcuserdata/
